body {
  padding: 0;
  margin: 0;
}

.auth-wrapper {
  background-image: url("../assets/bg/auth-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}
