body {
  padding: 0;
  margin: 0;
}

.auth-wrapper {
  background-image: url("../assets/bg/auth-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  align-content: center;
  padding: 35px 12px;
}
.auth-paper {
  --scale: 0.8;

  width: 558px;
  max-width: 90%;
  max-height: fit-content;
  padding: 49px 74px 79px 51px;
  background-color: white;
  box-shadow: var(--shadow-1);
  box-sizing: border-box;
  display: grid;
  place-self: center;
}
.auth-wrapper label {
  font-size: 15px;
  font-weight: 700;
  color: black;
}

.MuiInput-root.MuiInputBase-root::before {
  border-color: var(--light-grey);
}

@media screen and (min-height: 600px) and (max-height: 1023px) {
  .auth-paper {
    --scale: 0.8;
    transform-origin: top center;
    transform: scale(var(--scale));
    margin-bottom: -5%;
  }

  .auth-wrapper label {
    font-size: 18px;
  }
}
