:root {
  /* Brand colors */
  --primary: #8528c8;
  --secondary: #22215b;
  --error: #a80000;
  --success: #087b2f;
  --light-grey: #c4c4c4;
  --link-blue: #039ccc;

  /* Box Shadows */
  --shadow-1: 0px 0px 28px 0px #0000001a;
}
body {
  font-family: "Poppins";
}
h1 {
  font-size: 30;
  font-weight: 700;
  line-height: "43.05px";
}

h2 {
  font-size: 20;
  font-weight: 700;
}

h3 {
  font-size: 15;
  font-weight: 700;
}

h4 {
  font-size: 14;
}

h5 {
  font-size: 12;
}

h6 {
  font-size: 10;
}

a {
  color: var(--link-blue);
}

/* MUI style overrides */
