:root {
  /* Brand colors */
  --primary: #8528c8;
  --secondary: #22215b;
  --error: #a80000;
  --success: #087b2f;
  --info: #1d4ed8;
  --link-blue: #039ccc;
  --light-grey: #c4c4c4;
  --grey: #a9a5a5;
  --silver: #a5a5a5;

  /* Box Shadows */
  --shadow-1: 0px 0px 28px 0px #0000001a;
  --shadow-2: 0px 4px 23px 0px #0000000d;
  --shadow-3: 0px 1px 2px 0px #00000052;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}
h1 {
  font-size: 30;
  font-weight: 700;
  line-height: "43.05px";
}

h2 {
  font-size: 20;
  font-weight: 700;
}

h3 {
  font-size: 15;
  font-weight: 700;
}

h4 {
  font-size: 14;
}

h5 {
  font-size: 12;
}

h6 {
  font-size: 10;
}

a {
  color: var(--link-blue);
}

/* Layout classes*/
.content-wrapper {
  max-width: 1171px;
}
