/* @import "~react-draft-wysiwyg/dist/react-draft-wysiwyg.css"; */

:root {
	/************* Brand colors ************/
	--primary: #8528c8;
	--secondary: #22215b;
	--error: #a80000;
	--success: #087b2f;
	--info: #1d4ed8;
	--link-blue: #039ccc;
	--light-blue: #d0f7fa;
	--dark-blue: #22215b;
	--light-grey: #c4c4c4;
	--grey: #a9a5a5;
	--dark-grey: #ede3f5;
	--silver: #a5a5a5;
	--spanish-grey: #979797;
	--active-text-button: rgba(133, 40, 200, 0.04);

	/************* Box Shadows ************/
	--shadow-1: 0px 0px 28px 0px #0000001a;
	--shadow-2: 0px 4px 23px 0px #0000000d;
	--shadow-3: 0px 1px 2px 0px #00000052;
	--shadow-4: 3px 3px 14px 0px #bebebe4d;
	--shadow-5: 0px 0px 6px 0px #00000033;
	--shadow-6: 0px 1px 20px -7px #00000052;
}

* {
	box-sizing: border-box;
}
body {
	font-family: "Poppins";
}
h1 {
	font-size: 30;
	font-weight: 700;
	line-height: "43.05px";
}

h2 {
	font-size: 20;
	font-weight: 700;
}

h3 {
	font-size: 15;
	font-weight: 700;
}

h4 {
	font-size: 14;
}

h5 {
	font-size: 12;
}

h6 {
	font-size: 10;
}

a {
	color: var(--link-blue);
	text-decoration: none;
}
/************* Text Classes ************/
.text-danger {
	color: var(--error);
}

/************* Form Classes & Text Editor ************/
.custom-file-upload {
	display: flex;
	flex-direction: column;
	align-content: center;
	border: 1px dashed black !important;
}

.custom-form input:not(.MuiTextField-root input),
.custom-form select:not(.MuiTextField-root input),
.custom-form .MuiSelect-select,
.custom-form textarea:not(.MuiTextField-root input),
.MuiTextField-root:not(.default-style) .MuiOutlinedInput-root,
.text-editor-wrapper {
	border: 1px solid black;
	font-weight: 500;
	font-size: 14px;
	line-height: 159.5%;
	outline: none;
}
.custom-form input:not(.MuiTextField-root input),
.custom-form select:not(.MuiTextField-root select),
.custom-form .MuiSelect-select,
.custom-form textarea:not(.MuiTextField-root textarea),
.text-editor-wrapper {
	border-radius: 5px;
	padding: 12px 26px;
}

.custom-form input:not(.MuiTextField-root input):focus,
.custom-form select:not(.MuiTextField-root select):focus,
.custom-form textarea:not(.MuiTextField-root textarea):focus,
.text-editor-wrapper:focus-within {
	border-color: var(--primary);
	border-width: 2px;
}

.MuiTextField-root .MuiOutlinedInput-root:focus-within {
	border: none;
}

.custom-form .Mui-error input,
.custom-form .Mui-error select,
.custom-form .Mui-error textarea {
	border-color: var(--error);
}

label {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 8px;
}
input,
select,
textarea {
	font-size: 14px;
	font-weight: 500;
}
input::placeholder,
select::placeholder,
textarea::placeholder,
.public-DraftEditorPlaceholder-root {
	color: var(--spanish-grey);
	font-family: "Poppins";
}

/*** Text Editor Styles **/

.text-editor-wrapper .DraftEditor-root {
	min-height: 100px;
}

.text-editor-toolbar,
.text-editor-toolbar > * {
	display: flex;
	gap: 20px;
}

@media screen and (min-height: 1440px) {
	.custom-form input {
		padding: 23px 26px;
	}
}
/************* Layout classes************/
.content-wrapper {
	max-width: 1171px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}
